<% content_for :title, t(".editing_folder") %>

<h1><%= t(".editing_folder") %></h1>

<%= render "form", folder: @folder %>

<br>

<div>
  <%= link_to t(".show_this_folder"), @folder %> |
  <%= link_to t(".back_to_folders"), folders_path %>
</div>
