<% content_for :title, t(".new_folder") %>
<div class="flex flex-col items-center flex-1 mt-16 ml-16">
  <div class="form">
  <h1><%= t(".new_folder") %></h1>
  <%= render "form", folder: @folder %>
  </div>
</div>
