<p style="color: green"><%= notice %></p>
<div class="flex flex-col items-center flex-1 mt-16 ml-16">
  <%= render @folder %>
  <div>
    <%= link_to t(".edit_this_folder"), edit_folder_path(@folder) %> |
    <%= button_to t(".destroy_this_folder"), @folder, method: :delete, class: "btn-primary" %>
  </div>
</div>
