<div class="flex-1 ml-16">
  <h1><%= t(".trash") %></h1>
  <div class="flex flex-wrap gap-1 mt-2">
    <% @logins.each do |login| %>
      <div class="password-card">
        <%= render login %>
        <div class="flex mt-2">
          <%= button_to t(".permanently_delete_login"), 'trash/' + login.id.to_s, method: :delete, class: "btn-primary"  %>
          <div class="mx-2"></div>
          <%= link_to t(".restore_login"), 'trash/restore/' + login.id.to_s, class: "btn-secondary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>