<html>
  <head>
    <script src="https://kit.fontawesome.com/dc2b84518f.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <div id="app"></div>
    <script>
      const renderAppLogin = () => {
        const app = document.getElementById("app");
        app.innerHTML = `
          <h1>Login</h1>
          <form id="login-form">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" />
            <label for="password">Password</label>
            <input type="password" id="password" name="password" />
            <button type="submit">Login</button>
          </form>
        `;
        document
          .getElementById("login-form")
          .addEventListener("submit", (e) => {
            e.preventDefault();
            tryAppLogin();
          });
      };

      const renderNavBar = () => {
        const app = document.getElementById("app");
        app.innerHTML = `
          <aside>
            <nav>
              <a href="#index"><i class="fas fa-shield-halved"></i> Password Manager</div></a>
              
            </nav>
          </aside>
        `;
      };

      const tryAppLogin = async () => {
        const email = document.getElementById("email").value;
        const password = document.getElementById("password").value;
        const loginData = {
          email_address: email,
          password: password,
        };
        const response = await fetch("http://127.0.0.1:3000/session/", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            Accept: "application/json",
          },
          body: JSON.stringify(loginData),
        });
        if (response.ok) {
          window.location.hash = "#index";
        }
      };

      const renderIndex = async () => {
        const app = document.getElementById("app");
        const response = await fetch("http://127.0.0.1:3000", {
          headers: {
            "Content-Type": "application/json",
            Accept: "application/json",
          },
        });
        const logins = await response.json();
        for(let login of logins) {
          app.innerHTML += `<h1>${login.name}</h1>`;
          app.innerHTML += `<p>${login.login_name}</p>`;
          app.innerHTML += `<p>${login.urls}</p>`;
          app.innerHTML += `<img src=${login.fav_icons}></img>`;
          console.log(login);
        }
      };

      const renderLogin = async () => {
        const app = document.getElementById("app");
        const loginId = window.location.hash.split("_")[1];
        const response = await fetch(`http://127.0.0.1:3000/logins/${loginId}`, {
          headers: {
            "Content-Type": "application/json",
            Accept: "application/json",
          },
        });
        const login = await response.json();
          app.innerHTML += `<h1>${login.name}</h1>`;
          app.innerHTML += `<p>${login.login_name}</p>`;
          app.innerHTML += `<p>${login.urls}</p>`;
          app.innerHTML += `<img src=${login.fav_icons}></img>`;
          console.log(login);
      };

      const renderView = async () => {
        const view = window.location.hash;
        const app = document.getElementById("app");
        app.innerHTML = "";
        if (view === "#appLogin") {
          renderAppLogin();
          return;}
        renderNavBar();
        switch (view) {
          case "#index":
            renderIndex();
            break;
          case view.startsWith("#login") && view:
            renderLogin();
            break;
          default:
            app.innerHTML = `<h1>404</h1><p>Page not found.</p>`;
        }
      };

      window.addEventListener("hashchange", renderView);
      window.addEventListener("load", renderView);
    </script>
  </body>
</html>
