<!DOCTYPE html>
<html>
  <head>
    <script
      src="https://kit.fontawesome.com/dc2b84518f.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <script defer>
      const getResponse = async (url, method = "GET", data = {}) => {
        const options = {
          method: method,
          headers: {
            "Content-Type": "application/json",
            Accept: "application/json",
          },
        };

        if (method !== "GET") {
          options.body = JSON.stringify(data);
        }

        const response = await fetch(url, options);
        return response;
      };

      const copyToClipboard = (text) => {
        navigator.clipboard.writeText(text);
      };

      const sendLoginToTrash = async (id) => {
        const response = await getResponse(`/logins/${id}`, "DELETE");
        mainApp();
      };

      const restoreLogin = async (id) => {
        const response = await getResponse(`/trash/restore/${id}`);
        mainApp();
      };

      const deleteLogin = async (id) => {
        const response = await getResponse(`/trash/${id}`, "DELETE");
        mainApp();
      };

      const deleteFolder = async (id) => {
        const response = await getResponse(`/folders/${id}`, "DELETE");
        mainApp();
      };

      const openMenu = (id) => {
        const menu = document.getElementById(`menu_${id}`);
        menu.classList.toggle("hidden");
      };

      const deleteSharedLogin = async (id) => {
        const response = await getResponse(
          `/shared_login_data/${id}`,
          "DELETE"
        );
        mainApp();
      };

      const Img = (attributes, source) => {
        attributes.src = source;
        return d("img", attributes);
      };

      const Link = (attributes, content, target) => {
        attributes.href = target;
        return d("a", attributes, [content]);
      };

      const Button = (attributes, text, type, action) => {
        switch (type) {
          case "submit-user":
            return d("input", {
              type: "submit",
              name: "commit",
              value: text,
              class: buttonPrimaryStyle(),
            });
          case "submit-sm":
            return d("input", {
              type: "submit",
              name: "commit",
              value: text,
              class: "text-sm " + buttonPrimaryStyle(),
            });
          case "link":
            return d(Link, { class: buttonPrimaryStyle() }, [text, action]);
          case "link-secondary":
            return d(Link, { class: buttonSecondaryStyle() }, [text, action]);
          case "primary":
            return d(
              "button",
              { class: buttonPrimaryStyle(), onclick: action },
              [text]
            );
          case "secondary":
            return d(
              "button",
              { class: buttonSecondaryStyle(), onclick: action },
              [text]
            );
          case "plain":
            return d("button", { class: "cursor-pointer", click: action }, [
              text,
            ]);
        }
      };

      const renderLoginPage = () => {
        document.body.appendChild(
          d(FullPageForm, {}, [
            "Sign in",
            "/session",
            "POST",
            [
              d(Fieldset, {}, ["Email address", "email", "email_address"]),
              d(Fieldset, {}, ["Password", "password", "password"]),
              d(Button, {}, ["Sign in", "submit-user"]),
            ],
            [
              d(Link, { class: "text-blue-600" }, [
                "Forgot password?",
                "/passwords/new",
              ]),
              d("hr", { class: "border-gray-500" }),
              d(Link, { class: "text-blue-600" }, [
                "Create account",
                "#register",
              ]),
            ],
          ])
        );
      };

      const renderRegisterPage = () => {
        document.body.appendChild(
          d(FullPageForm, {}, [
            "Register",
            "/users",
            "POST",
            [
              d(Fieldset, {}, [
                "Email address",
                "email",
                "user[email_address]",
              ]),
              d(Fieldset, {}, ["Password", "password", "user[password]"]),
              d(Fieldset, {}, [
                "Password confirmation",
                "password",
                "user[password_confirmation]",
              ]),
              d(Fieldset, {}, ["First name", "text", "user[first_name]"]),
              d(Fieldset, {}, ["Last name", "text", "user[last_name]"]),
              d(Button, {}, ["Sign up", "submit-user"]),
            ],
            [
              d("hr", { class: "border-gray-500" }),
              d("div", {}, [
                "Already have an account?",
                d(Link, { class: "text-blue-600" }, ["Sign in", ""]),
              ]),
            ],
          ])
        );
      };

      const FullPageForm = (
        attributes,
        title,
        path,
        method,
        formInputs,
        additionalContent
      ) =>
        d("div", { class: "flex min-h-full" }, [
          d("div", { class: "flex flex-col flex-1" }, [
            d("main", { class: "flex-1 mx-2 md:mx-16" }, [
              d(
                "div",
                {
                  class:
                    "flex flex-col items-center justify-center flex-1 h-full",
                },
                [
                  d("i", {
                    class: "mb-4 text-blue-700 fas fa-7x fa-shield-halved",
                  }),
                  d("h1", { class: "mb-10 text-3xl font-bold" }, [title]),
                  d(Form, {}, [
                    false,
                    path,
                    method,
                    "#index",
                    formInputs,
                    additionalContent,
                  ]),
                ]
              ),
            ]),
          ]),
        ]);

      const Form = (
        attributes,
        title,
        path,
        method,
        redirectTo,
        formInputs,
        additionalContent = [""]
      ) =>
        d("div", { class: formContainerStyle() }, [
          title
            ? d("h1", { class: "text-center text-3xl font-bold" }, [title])
            : "",
          d(
            "form",
            {
              class: "flex flex-col gap-4",
              submit: async (e) => {
                e.preventDefault();
                const options = {
                  method,
                  headers: {
                    Accept: "application/json",
                  },
                };

                options.body = new FormData(e.target);
                const response = await fetch(path, options);
                if ([200, 201].includes(response.status)) {
                  window.location.hash = redirectTo;
                }
              },
            },
            formInputs
          ),
          ...additionalContent,
        ]);

      getNavMenuElements = async () => {
        const response = await getResponse(
          "http://127.0.0.1:3000/folders",
          "GET"
        );
        const userFolders = await response.json();
        const specialFolders = [
          ["All logins", "#index"],
          ["Favorites", "#index?favorite=true"],
          ["Shared by me", "#sharedIndex?by_me=true"],
          ["Shared with me", "#sharedIndex"],
        ];
        const specialFoldersNodes = specialFolders.map((folder) =>
          d(NavMenuElement, {}, [
            folder[0],
            folder[1],
            window.location.hash == folder[1],
          ])
        );
        let current_folder_id = null;
        if (window.location.hash.includes("folder_id")) {
          current_folder_id = parseInt(
            new URLSearchParams(window.location.hash.split("?")[1]).get(
              "folder_id"
            )
          );
        }

        const userFoldersNodes = userFolders.map((folder) =>
          d(NavMenuElement, {}, [
            [
              d("i", {
                class: `fas fa-folder${
                  folder.id === current_folder_id ? "-open" : ""
                }`,
              }),
              " " + folder.name,
            ],
            `#index?folder_id=${folder.id}`,
            folder.id === current_folder_id,
          ])
        );

        return [
          d(NavMenuLogo, {}, [
            [d("i", { class: "fas fa-shield-halved" }), " Password Manager"],
          ]),
          d(NavMenuHeader, {}, [
            [
              "Folders ",
              d(Link, {}, [d("i", { class: "fas fa-gear" }), "#folders"]),
            ],
          ]),
          ...specialFoldersNodes,
          d("div", {}, userFoldersNodes),
          d(NavMenuElement, {}, [
            [d("i", { class: "fas fa-trash-alt" }), " Trash"],
            "#trash",
            window.location.hash === "#trash",
          ]),
        ];
      };

      const NavMenu = (attributes, content) => {
        return d(
          "aside",
          {
            class:
              "h-screen text-white bg-blue-800 min-w-full md:min-w-[270px] text-lg flex-col gap-2 sticky top-0 overflow-auto flex",
          },
          content
        );
      };

      const Login = (attributes, login, isShared) => {
        const menuItems = isShared
          ? [
              ViewLoginOption(login, isShared == 2),
              CopyUsernameLoginOption(login),
              CopyPasswordLoginOption(login),
              login.file ? DownloadAttachmentLoginOption(login) : "",
              DeleteSharedLoginOption(login),
            ]
          : login.trash_date
          ? [TrashRestoreLoginOption(login), TrashDeleteLoginOption(login)]
          : [
              CopyUsernameLoginOption(login),
              CopyPasswordLoginOption(login),
              login.file ? DownloadAttachmentLoginOption(login) : "",
              EditLoginOption(login),
              ShareLoginOption(login),
              SendLoginToTrashOption(login),
            ];
        return d(
          "tr",
          {
            class:
              "text-gray-500 border-b-[0.5px] border-gray-500 hover:bg-gray-200/60",
          },
          [
            d("td", { class: "text-center py-3" }, getFavIcons(login)),
            d("td", { class: "py-3" }, [
              d(
                Link,
                {
                  class: "font-bold text-blue-600",
                },
                [
                  login.name,
                  `#loginView${isShared === 1 ? "R" : ""}_${login.id}`,
                ]
              ),
              d("br"),
              login.login_name,
            ]),
            d("td", { class: "py-3" }, [
              d(
                Link,
                {
                  class: "text-blue-600",
                  target: "_blank",
                },
                [
                  (login.urls[0] && login.urls[0].uri) || "",
                  login.urls[0] && login.urls[0].uri,
                ]
              ),
            ]),
            login.trash_date && !isShared
              ? d("td", { class: "py-3" }, [login.trash_date])
              : "",
            isShared === 1 ? d("td", { class: "py-3" }, [login.shared_by]) : "",
            isShared === 2
              ? d("td", { class: "py-3" }, [login.shared_with])
              : "",
            d(ExpandableMenu, {}, [login, menuItems]),
          ]
        );
      };

      const renderIndexPage = async () => {
        const params = window.location.hash.split("?")[1];
        const response = await getResponse("/logins" + "?" + (params || ""));
        const logins = await response.json();
        const main = document.querySelector("main");
        const headers = ["Name", "URLs"];
        main.append(
          d("div", { class: "flex justify-between" }, [
            d("h1", { class: "text-3xl font-bold" }, ["Logins"]),
            d(Button, {}, ["New login", "link", "#loginNew"]),
          ]),
          d(
            "form",
            {
              class:
                "flex-row flex-wrap items-center justify-between mt-8 text-lg md:justify-start flex flex-col gap-4",
              submit: async (e) => {
                e.preventDefault();
                const formData = new FormData(e.target);
                const searchQuery = formData.get("q");
                window.location.hash = `#index?q=${searchQuery}`;
              },
            },
            [
              d("div", {}, [
                d("input", {
                  class:
                    "w-full text-sm border border-gray-500 hover:ring-1 hover:ring-blue-600 focus:ring-2 focus:ring-blue-600 md:w-80" +
                    inputStyle(),
                  type: "search",
                  name: "q",
                  id: "q",
                }),
              ]),
              d(Button, {}, ["Search", "submit-sm"]),
            ]
          ),
          d("div", { class: "mt-2" }, [
            d("table", { class: "w-full mt-8 table-fixed" }, [
              d(TableHeader, {}, [
                [
                  d("th", { class: "w-12 text-left" }),
                  ...headers.map((header) =>
                    d("th", { class: "text-left" }, [header])
                  ),
                  d("th", { class: "w-12 text-left" }),
                ],
              ]),
              d(TableBody, {}, [logins.map((login) => d(Login, {}, [login]))]),
            ]),
          ])
        );
      };

      const renderLoginViewPage = async () => {
        const loginId = parseInt(window.location.hash.split("_")[1]);
        const response = await getResponse(`/logins/${loginId}`);
        const login = await response.json();
        const main = document.querySelector("main");
        const readonly = window.location.hash.includes("R");
        main.appendChild(
          d(Form, {}, [
            readonly ? "View Login" : "Edit login",
            `/logins/${loginId}`,
            "PATCH",
            "#index",
            LoginInputs(login, readonly),
          ])
        );

        await populateLoginSelectFolders(login.folder_name, readonly);
      };

      const renderNewLoginPage = async () => {
        const main = document.querySelector("main");
        main.appendChild(
          d(Form, {}, ["New login", "/logins", "POST", "#index", LoginInputs()])
        );

        await populateLoginSelectFolders();
      };

      const LoginInputs = (login, readonly) => [
        d(Fieldset, {}, [
          "Name",
          "text",
          "login[name]",
          login && login.name,
          readonly,
        ]),
        d(Fieldset, {}, [
          "Login name",
          "text",
          "login[login_name]",
          login && login.login_name,
          readonly,
        ]),
        d(Fieldset, {}, [
          "Login password",
          "password",
          "login[login_password]",
          login && login.login_password,
          readonly,
        ]),
        login
          ? d(UriFieldset, {}, [
              "Uri",
              "text",
              "login[urls_attributes][0][uri]",
              login.urls[0].uri,
              login.urls[0].id,
              readonly,
            ])
          : d(Fieldset, {}, ["Uri", "text", "login[urls_attributes][0][uri]"]),
        d(TextFieldset, {}, [
          "Notes",
          "login[notes]",
          login && login.notes,
          readonly,
        ]),
        d(CustomFieldset, {}, [login && login.custom_fields, readonly]),
        d(FavCheckboxDiv, {}, [login && login.is_favorite, readonly]),
        d(FolderSelectDiv, {}, [readonly]),
        readonly ? "" : d(FileInputDiv, {}, []),
        readonly ? "" : d(LoginActions, {}, []),
      ];

      const Folder = (attributes, folder) => {
        return d("div", { class: "my-2" }, [
          d("div", { id: `folder_${folder.id}` }, [folder.name]),
          d("div", { class: "flex mt-2" }, [
            d(Button, {}, [
              "Edit this folder",
              "link",
              `#viewFolder_${folder.id}`,
            ]),
            d("div", { class: "mx-2" }),
            d(Button, {}, [
              "Destroy this folder",
              "secondary",
              `deleteFolder(${folder.id})`,
            ]),
          ]),
        ]);
      };

      const renderFoldersPage = async () => {
        const response = await getResponse("/folders");
        const folders = await response.json();
        const main = document.querySelector("main");
        main.appendChild(
          d("div", { class: "flex flex-col" }, [
            d("p", { style: "color: green" }),
            d("div", { class: "flex justify-between" }, [
              d("h1", { class: "text-3xl font-bold" }, ["Folders"]),
              d(Button, {}, ["New folder", "link", "#newFolder"]),
            ]),
            d(
              "div",
              {},
              folders
                .filter((folder) => folder.name !== "No folder")
                .map((folder) => d("div", {}, [d(Folder, {}, [folder])]))
            ),
          ])
        );
      };

      const renderFolderViewPage = async () => {
        const folderId = parseInt(window.location.hash.split("_")[1]);
        const response = await getResponse(`/folders/${folderId}`);
        const folder = await response.json();
        const main = document.querySelector("main");
        main.appendChild(
          d(Form, {}, [
            "Edit folder",
            `/folders/${folderId}`,
            "PATCH",
            "#folders",
            [
              d(Fieldset, {}, ["Name", "text", "folder[name]", folder.name]),
              d("div", {}, [d(Button, {}, ["Save folder", "primary"])]),
            ],
          ])
        );
      };

      const renderNewFolderPage = () => {
        const main = document.querySelector("main");
        main.appendChild(
          d(Form, {}, [
            "New folder",
            "/folders",
            "POST",
            "#folders",
            [
              d(Fieldset, {}, ["Name", "text", "folder[name]"]),
              d("div", {}, [d(Button, {}, ["Save folder", "primary"])]),
            ],
          ])
        );
      };

      const renderSharedIndexPage = async () => {
        const params = window.location.hash.split("?")[1] || "";
        const response = await getResponse("/shared_login_data" + "?" + params);
        const sharedLogins = await response.json();
        const main = document.querySelector("main");
        const headers = [
          "Name",
          "URLs",
          params.includes("by_me") ? "Shared with" : "Shared by",
        ];
        let result = d("div", { class: "w-full" }, [
          d("div", { class: "flex items-center justify-between" }, [
            d("h1", { class: "text-3xl font-bold" }, [
              "Shared Logins ",
              params.includes("by_me") ? "by" : "with",
              " me",
            ]),
          ]),
          d("div", { class: "min-w-full" }, [
            d("table", { class: "w-full mt-8 table-fixed" }, [
              d(TableHeader, {}, [
                [
                  d("th", { class: "w-12 text-left" }),
                  ...headers.map((header) =>
                    d("th", { class: "text-left" }, [header])
                  ),
                  d("th", { class: "w-12 text-left" }),
                ],
              ]),
              d(TableBody, {}, [
                sharedLogins.map((login) =>
                  d(Login, {}, [login.login, params.includes("by_me") ? 2 : 1])
                ),
              ]),
            ]),
          ]),
        ]);
        main.append(result);
      };

      const renderNewSharedLoginPage = () => {
        const main = document.querySelector("main");
        const loginId = parseInt(window.location.hash.split("_")[1]);
        main.append(
          d(Form, {}, [
            "Share login",
            "/shared_login_data",
            "POST",
            "#sharedIndex?by_me=true",
            [
              d(Fieldset, {}, ["Email address", "email", "user_email"]),
              d("input", {
                type: "hidden",
                name: "login_id",
                value: loginId,
              }),
              d("div", {}, [d(Button, {}, ["Share login", "primary"])]),
            ],
          ])
        );
      };

      const renderTrashPage = async () => {
        const response = await getResponse("/trash");
        const logins = await response.json();
        const main = document.querySelector("main");
        const headers = ["Name", "URLs", "Date added in trash"];
        let result = [
          d("h1", { class: "text-3xl font-bold" }, ["Trash"]),
          d("table", { class: "w-full mt-8 table-fixed" }, [
            d(TableHeader, {}, [
              [
                d("th", { class: "w-12 text-left" }),
                ...headers.map((header) =>
                  d("th", { class: "text-left" }, [header])
                ),
                d("th", { class: "w-12 text-left" }),
              ],
            ]),
            d(TableBody, {}, [logins.map((login) => d(Login, {}, [login]))]),
          ]),
        ];
        main.append(...result);
      };

      const renderLayout = async () => {
        const navMenuElements = await getNavMenuElements();
        document.body.appendChild(
          d("div", { class: "flex min-h-full" }, [
            d(NavMenu, {}, [navMenuElements]),
            d("div", { class: "flex flex-col flex-1" }, [
              d("div", { class: "flex gap-2 ml-auto mr-2 text-blue-600" }, [
                d(Button, {}, [
                  d("i", { class: "fas fa-arrow-right-from-bracket" }),
                  "plain",
                  async () => {
                    const response = await getResponse("/session", "DELETE");
                    window.location.hash = "#login";
                  },
                ]),
              ]),
              d("main", { class: "flex-1 mx-2 md:mx-16" }),
            ]),
          ])
        );
      };

      const NavMenuLogo = (attributes, content) =>
        d(Link, {}, [
          d("div", { class: "pt-8 pl-8 text-lg" }, [...content]),
          "#index",
        ]);

      const NavMenuHeader = (attributes, content) =>
        d("div", { class: "pl-8" }, [
          d("h1", { class: "text-2xl font-bold" }, [...content]),
        ]);

      const NavMenuElement = (attributes, content, target, isHighlighted) =>
        d(Link, {}, [
          d(
            "div",
            {
              class: `py-1 pl-8 hover:bg-blue-600 ${
                isHighlighted ? "bg-blue-950" : ""
              }`,
            },
            [...content]
          ),
          target,
        ]);

      const getFavIcons = (login) =>
        login.urls.length > 0
          ? login.fav_icons.map((fav_icon) =>
              fav_icon
                ? d(Img, { class: "mx-auto" }, [fav_icon])
                : d("i", { class: "fas fa-xl fa-globe" })
            )
          : [d("i", { class: "fas fa-xl fa-globe" })];

      const ExpandableMenu = (attributes, login, content) =>
        d("td", { class: "relative py-3" }, [
          d(
            "div",
            {
              id: `toggle_${login.id}`,
              onclick: `openMenu(${login.id})`,
              class:
                "top-0 right-0 w-6 ml-auto text-center rounded-md cursor-pointer hover:ring-1 hover:ring-blue-600",
            },
            [d("i", { class: "fas fa-ellipsis-v" })]
          ),
          d(
            "div",
            {
              id: `menu_${login.id}`,
              class:
                "absolute right-0 z-10 hidden py-2 bg-white border border-gray-500 top-12 rounded-xl",
            },
            [...content]
          ),
        ]);

      const Fieldset = (
        attributes,
        label,
        type,
        name,
        value = "",
        readonly = false
      ) => {
        const input = d("input", {
          class: inputStyle(),
          type,
          name,
          id: name,
          value,
        });
        if (readonly) {
          input.readOnly = true;
        }
        return d("div", {}, [
          d("fieldset", { class: fieldsetStyle() }, [
            d("legend", { class: "px-2 text-gray-500" }, [
              d("label", { for: name }, [label]),
            ]),
            input,
          ]),
        ]);
      };

      const UriFieldset = (
        attributes,
        label,
        type,
        name,
        value,
        id,
        readonly
      ) => {
        const input = d("input", {
          class: inputStyle(),
          type,
          name,
          id: name,
          value: value || "",
        });
        if (readonly) {
          input.readOnly = true;
        }
        return d("div", {}, [
          d("fieldset", { class: fieldsetStyle() }, [
            d("legend", { class: "px-2 text-gray-500" }, [
              d("label", { for: name }, [label]),
            ]),
            input,
            d("input", {
              autocomplete: "off",
              type: "hidden",
              value: id,
              name: "login[urls_attributes][0][id]",
              id: "login_urls_attributes_0_id",
            }),
          ]),
        ]);
      };

      const TextFieldset = (
        attributes,
        label,
        name,
        value = "",
        readonly = false
      ) => {
        const textarea = d(
          "textarea",
          { class: inputStyle(), name, id: name },
          [value]
        );
        if (readonly) {
          textarea.readOnly = true;
        }
        return d("div", {}, [
          d("fieldset", { class: fieldsetStyle() }, [
            d("legend", { class: "px-2 text-gray-500" }, [
              d("label", { for: name }, [label]),
            ]),
            textarea,
          ]),
        ]);
      };

      const CustomFieldset = (
        attributes,
        custom_fields = [{ name: "", value: "" }],
        readonly = false
      ) => {
        return d("div", {}, [
          "Custom fields:",
          d("div", { class: "flex flex-col gap-1" }, [
            d(Fieldset, {}, [
              "Name",
              "text",
              "login[custom_fields_attributes][0][name]",
              custom_fields[0].name,
              readonly,
            ]),
            d(Fieldset, {}, [
              "Value",
              "text",
              "login[custom_fields_attributes][0][value]",
              custom_fields[0].value,
              readonly,
            ]),
          ]),
        ]);
      };

      const FavCheckboxDiv = (attributes, isChecked, readonly) => {
        const checkbox = d("input", {
          class: "size-4",
          type: "checkbox",
          value: "1",
          name: "login[is_favorite]",
          id: "login_is_favorite",
        });
        if (isChecked) {
          checkbox.checked = true;
        }
        if (readonly) {
          checkbox.disabled = true;
        }
        return d("div", {}, [
          d("label", { for: "login_is_favorite" }, ["Is favorite "]),
          checkbox,
        ]);
      };

      const FolderSelectDiv = (attributes, readonly) => {
        const select = d("select", {
          class: "bg-gray-200 h-10" + inputStyle(),
          name: "login[folder_id]",
          id: "login_folder_id",
        });
        if (readonly) {
          select.disabled = true;
        }
        return d("div", {}, [
          d("label", { for: "login_folder_id" }, ["Folder"]),
          select,
        ]);
      };

      const FileInputDiv = (attributes) => {
        return d("div", {}, [
          d("label", { for: "login_file" }, ["File"]),
          d("input", {
            class: "pl-0 rounded-none" + inputStyle(),
            type: "file",
            name: "login[file]",
            id: "login_file",
          }),
        ]);
      };

      const LoginActions = () => {
        return d("div", { class: "flex" }, [
          d("div", {}, [d(Button, {}, ["Save login", "primary"])]),
          d("div", { class: "mx-2" }),
          d("div", { class: "pt-2" }, [
            d(Button, {}, ["Cancel", "link-secondary", "#index"]),
          ]),
        ]);
      };

      const populateLoginSelectFolders = async (name, readonly) => {
        const loginSelect = document.getElementById("login_folder_id");
        const folders = [];
        if (readonly) {
          folders.push({ id: "", name });
        } else {
          const response = await getResponse("/folders");
          folders.push(...(await response.json()));
        }

        for (const folder of folders) {
          const option = document.createElement("option");
          option.value = folder.id;
          option.text = folder.name;
          if (folder.name === name) {
            option.selected = true;
          }
          loginSelect.appendChild(option);
        }
      };

      const TableHeader = (attributes, content) => {
        return d("thead", {}, [
          d(
            "tr",
            {
              class: "border-b-2 text-gray-500 border-gray-500",
            },
            content
          ),
        ]);
      };

      const TableBody = (attributes, content) => {
        return d("tbody", {}, content);
      };

      const MenuItemFunction = (label, onclick, isDestructive) => {
        return d(
          "div",
          {
            class:
              `text-${isDestructive ? "red" : "blue"}-600` + menuItemStyle(),
            onclick,
          },
          [label]
        );
      };

      const MenuItemLink = (label, href, isDownload) => {
        return d(Link, {}, [
          isDownload
            ? d(
                "div",
                { class: "text-blue-600" + menuItemStyle(), download: "" },
                [label]
              )
            : d("div", { class: "text-blue-600" + menuItemStyle() }, [label]),
          href,
        ]);
      };

      const TrashRestoreLoginOption = (login) =>
        MenuItemFunction("Restore Login", `restoreLogin(${login.id})`);

      const TrashDeleteLoginOption = (login) =>
        MenuItemFunction("Delete Login", `deleteLogin(${login.id})`, true);

      const CopyUsernameLoginOption = (login) =>
        MenuItemFunction("Copy Username", `copyToClipboard('${login.login_name}')`);

      const CopyPasswordLoginOption = (login) =>
        MenuItemFunction(
          "Copy Password",
          `copyToClipboard('${login.login_password}')`
        );

      const DownloadAttachmentLoginOption = (login) =>
        MenuItemLink("Download Attachment", login.file, true);

      const EditLoginOption = (login) =>
        MenuItemLink("Edit Login", `#loginView_${login.id}`);

      const ShareLoginOption = (login) =>
        MenuItemLink("Share Login", `#shareLogin_${login.id}`);

      const SendLoginToTrashOption = (login) =>
        MenuItemFunction(
          "Send login to trash",
          `sendLoginToTrash(${login.id})`,
          true
        );

      const ViewLoginOption = (login, sharedByMe) =>
        MenuItemLink(
          "View Login",
          `#loginView${sharedByMe ? "R" : ""}_${login.id}`
        );

      const DeleteSharedLoginOption = (login) =>
        MenuItemFunction(
          "Delete shared login",
          `deleteSharedLogin(${login.shared_id})`,
          true
        );

      const fieldsetStyle = () =>
        " flex flex-col px-2 pb-1 border border-gray-500 rounded-xl focus-within:border-blue-500";

      const inputStyle = () =>
        " w-full p-2 rounded-md focus:outline-none dark:bg-zinc-800";
      const buttonPrimaryStyle = () =>
        " w-auto px-4 py-2 font-bold text-center text-white bg-blue-600 rounded-full cursor-pointer hover:bg-blue-700";

      const buttonPrimaryUserActionStyle = () => buttonPrimaryStyle + " w-full";

      const buttonSecondaryStyle = () =>
        " px-4 py-2 font-bold text-center text-blue-600 bg-white rounded-full cursor-pointer ring-2 ring-blue-600 hover:bg-blue-600 hover:text-white";

      const formContainerStyle = () =>
        "mx-auto bg-white m-2 md:w-[500px] rounded-xl border border-gray-500 dark:bg-zinc-800 p-4 md:p-8 flex flex-col gap-2";

      const menuItemStyle = () =>
        " text-left p-2 hover:bg-gray-200 cursor-pointer text-nowrap";

      const d = (tag, attributes, children) => {
        if (typeof tag === "string") {
          const result = document.createElement(tag);
          for (const key in attributes) {
            typeof attributes[key] === "function"
              ? result.addEventListener(key, attributes[key])
              : result.setAttribute(key, attributes[key]);
          }
          (children || []).forEach((child) => {
            const node =
              typeof child === "string"
                ? document.createTextNode(child)
                : child;
            result.appendChild(node);
          });
          return result;
        } else {
          return tag(attributes, ...children);
        }
      };

      const mainApp = async () => {
        const view = window.location.hash;
        document.body.innerHTML = "";
        if (view === "#login") {
          renderLoginPage();
          return;
        } else if (view === "#register") {
          renderRegisterPage();
          return;
        }
        const response = await getResponse("..");
        if (response.status === 406) {
          window.location.hash = "#login";
          return;
        }
        await renderLayout();
        switch (view) {
          case "":
          case view.startsWith("#index") && view:
            await renderIndexPage();
            break;
          case view.startsWith("#loginView") && view:
            renderLoginViewPage();
            break;
          case "#loginNew":
            renderNewLoginPage();
            break;
          case "#folders":
            await renderFoldersPage();
            break;
          case view.startsWith("#viewFolder") && view:
            await renderFolderViewPage();
            break;
          case "#newFolder":
            renderNewFolderPage();
            break;
          case view.startsWith("#sharedIndex") && view:
            await renderSharedIndexPage();
            break;
          case view.startsWith("#shareLogin") && view:
            renderNewSharedLoginPage();
            break;
          case "#trash":
            await renderTrashPage();
            break;
          default:
            document
              .querySelector("main")
              .appendChild(
                d("h1", { class: "text-3xl font-bold" }, ["404 Not Found"])
              );
        }
      };
      window.addEventListener("hashchange", mainApp);
      window.addEventListener("load", mainApp);
    </script>
  </head>

  <body
    class="h-screen text-gray-800 bg-white dark:bg-zinc-900 dark:text-white"
  ></body>
</html>
