<% content_for :title, t(".new_login") %>
<div class="flex flex-col items-center flex-1 mt-16">
  <div class="form">
    <h1 class="text-center"><%= t(".new_login") %></h1>
    <%= render "form", login: @login %>
  </div>
</div>
