<% content_for :title, "Shared login data" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Shared login data</h1>
    <%= link_to "New shared login datum", new_shared_login_datum_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
  </div>

  <div id="shared_login_data" class="min-w-full">
    <% if @shared_login_data.any? %>
      <% @shared_login_data.each do |shared_login_datum| %>
        <%= render shared_login_datum %>
        <p>
          <%= link_to "Show this shared login datum", shared_login_datum, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
        </p>
      <% end %>
    <% else %>
      <p class="text-center my-10">No shared login data found.</p>
    <% end %>
  </div>
</div>
