<% content_for :title, t(".share_login") %>

<div class="w-full md:w-2/3">
  <h1 class="text-4xl font-bold"><%= t(".share_login") %></h1>

  <%= render "form", shared_login_datum: @shared_login_datum %>

</div>
