<% content_for :title, "New shared login datum" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New shared login datum</h1>

  <%= render "form", shared_login_datum: @shared_login_datum %>

  <%= link_to "Back to shared login data", shared_login_data_path, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
